/*

Variables

*/

:root {
  /* Typography */
  --font-family: "Inter", sans-serif;
  --font-size-body: 1rem;
  --font-size-small: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height: 1.375;

  /* Layout */
  --padding-container: 1rem;
  --width-container: 100rem;
  --width-textcol: 37.5rem;
  --width-media-sm: 30rem;
  --width-media-md: 50rem;
  --width-media-lg: var(--width-container);
}

/*

Fonts

*/

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Inter-Italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Inter-BoldItalic.woff2") format("woff2");
}

/*

Base styles

*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0 var(--padding-container);
  color: #000000;
  background: #ffffff;
}

/*@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #1b1b1b;
  }

  body a {
    color: #beebff;
  }
  a:hover {
    text-decoration: underline;
    color: #f8fdff;
  }
} */

h1 {
  font-size: 2.2rem;
  font-weight: 600;
} 
h2 {
  font-size: 1.75rem;
  font-weight: 500;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
h4 {
  font-size: 1.1rem;
  font-weight: 600;
}
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin-bottom: 1em;
  margin-top: 3em;
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:focus,
a:hover {
  text-decoration: underline;
  color: inherit;
}

body > header a {
  text-decoration: none;
  font-size: large;
}

body > header a:focus,
body > header a:hover {
  text-decoration: underline;
  font-size: large;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

code,
samp,
kbd {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

pre {
  overflow-x: auto;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img.big-img {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;
  z-index: 1;
}

video {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  display: inline-block;
  height: 590px;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 1em 0;
}

figcaption {
  font-size: var(--font-size-small);
  margin-top: 0.5rem;
}

/*

Layout / global includes

*/

.site-header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: var(--width-container);
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}

.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* Gradient background */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  
  /* Apply a fixed blur effect */
  backdrop-filter: blur(5px);
  
  /* Ensure the pseudo-element stays below the header content */
  z-index: -1;
}

.site-name {
  font-weight: 500;
  margin-bottom: 0.25rem;
  margin-right: auto;
  margin-top: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}

.site-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 1rem;
}

.site-nav li:not(:last-child) {
  padding-bottom: 0.25rem;
  padding-right: 1rem;
}

.site-main {
  margin-bottom: 4rem;
}

.site-footer {
  font-size: var(--font-size-medium);
  margin-top: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: var(--width-container);
}

.site-footer > p {
  margin-bottom: 0;
}

/*

Homepage

*/

.home-intro {
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-textcol);
}

.home-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  text-align: center;
}

.home-block > a {
  max-width: 100%;
  text-decoration: none;
}

.home-block > a:focus,
.home-block > a:hover {
  text-decoration: underline;
}

.home-block.sm > a {
  width: var(--width-media-sm);
}

.home-block.md > a {
  width: var(--width-media-md);
}

.home-block.lg > a {
  width: var(--width-media-lg);
}

.home-block.lg {
  margin-left: calc(var(--padding-container) * -1);
  margin-right: calc(var(--padding-container) * -1);
}

.home-block img:not([width]),
.home-block video:not([width]) {
  width: 100%;
}

.home-block-title {
  margin-bottom: 0;
  margin-top: 2rem;
}

/*

Page

*/

.page {
  margin-bottom: 8rem;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-textcol);
}

.page-header {
  margin-bottom: 1rem;
}

.page-title {
  font-weight: inherit;
  margin: 0;
}

/*

Post

*/

.post {
  margin-bottom: 8rem;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-textcol);
}

.post-header {
  margin-bottom: 1rem;
}

.post-title {
  font-weight: inherit;
  margin: 0;
}

.post-date {
  display: block;
}

/*

Project page

*/

.project {
  margin-bottom: 8rem;
}

.project-header {
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-textcol);
}

.project-title {
  font-weight: inherit;
  margin: 0;
}

.project-details {
  margin: 0;
}

.project-text {
  margin-top: 1rem;
}

.project-block {
  margin-bottom: 6rem;
  text-align: center;
}

.project-block figure {
  margin-left: auto;
  margin-right: auto;
}

.project-block figure.sm {
  max-width: var(--width-media-sm);
}

.project-block figure.md {
  max-width: var(--width-media-md);
}

.project-block figure.lg {
  max-width: var(--width-media-lg);
  margin-left: calc(var(--padding-container) * -1);
  margin-right: calc(var(--padding-container) * -1);
}

.project-block img:not([width]),
.project-block video:not([width]) {
  width: 100%;
}

/*

Experiment page

*/

.experiment {
  margin-bottom: 8rem;
}

.experiment-header {
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-textcol);
}

.experiment-title {
  font-weight: inherit;
  margin: 0;
}

.experiment-details {
  margin: 0;
}

.experiment-text {
  margin-top: 1rem;
}

.experiment-block {
  margin-bottom: 6rem;
  text-align: center;
}

.experiment-block figure {
  margin-left: auto;
  margin-right: auto;
}

.experiment-block figure.sm {
  max-width: var(--width-media-sm);
}

.experiment-block figure.md {
  max-width: var(--width-media-md);
}

.experiment-block figure.lg {
  max-width: var(--width-media-lg);
  margin-left: calc(var(--padding-container) * -1);
  margin-right: calc(var(--padding-container) * -1);
}

.experiment-block img:not([width]),
.experiment-block video:not([width]) {
  width: 100%;
}

/*

Contact form

*/

.contactform {
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
}

.input-clean {
  font-family: inherit;
  font-size: inherit;
  background: inherit;
  color: inherit;
  outline: none;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.contactsend {
  width: 100%;
  text-align: center;
}

.send {
  font-family: inherit;
  font-size: inherit;
  background: inherit;
  outline: none;
  border: none;
}

.button {
  display: inline-block;
	background: #000;
	color: #fff;
	padding: 14px 64px;
	text-decoration: none;
	border-radius: 50px;
	line-height: 1.4;
}

.insight {
	background: rgb(255, 237, 187);
	color: rgb(0, 0, 0);
	padding: 14px 14px 14px 14px;
	border-radius: 20px;
}

.insightgreen {
	background: rgb(187, 255, 198);
	color: rgb(0, 0, 0);
	padding: 14px 14px 14px 14px;
	border-radius: 20px;
}

.overview {
	background: rgb(255, 187, 187);
	color: rgb(0, 0, 0);
	padding: 14px 14px 14px 14px;
	border-radius: 20px;
}

.large {
  width: 100%;
  margin-left: calc(var(--padding-container) * -1);
  margin-right: calc(var(--padding-container) * -1);
}


.search {
  display: inline-block;
	background: #000;
	color: #fff;
	padding: 14px 34px;
	text-decoration: underline;
	border-radius: 50px;
	line-height: 1.4;
}


/*

Pagination

*/

.pagination {
  margin-bottom: 4rem;
  margin-top: 4rem;
  text-align: center;
}

.pagination-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.pagination-list li:not(:last-child) {
  padding-right: 1em;
}

.pagination-item {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.pagination-item a:not([aria-current]) {
  text-decoration: none;
}

.pagination-item a:focus,
.pagination-item a:hover {
  text-decoration: underline;
}

.rounded-box {
  display: flex;
  border-radius: 25px;
  border: 2px solid;
  padding: 20px; 
  width: 200px;
  height: 50px; 
  align-items: center;
  justify-content: center;
  padding: .5rem 0.75rem;
}

.searchlieu {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #000000;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #84b6bd;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #000000;
  background: #000000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.hamburger-checkbox {
  display: none;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: large;
  padding-right: 1rem;
}

/* Hide the navigation menu and show the hamburger icon on mobile devices */
@media (max-width: 767px) {
  .site-nav ul {
    padding-left: 1rem;
    display: none;
  }

  .hamburger-checkbox:checked ~ .hamburger {
    /* Hide the original hamburger icon content */
    color: transparent;
    /* Add a "close" icon using pseudo-elements */
    position: relative;
  }
  
  .hamburger-checkbox:checked ~ .hamburger::before,
  .hamburger-checkbox:checked ~ .hamburger::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform-origin: center;
  }
  
  .hamburger-checkbox:checked ~ .hamburger::before {
    transform: translateX(-50%) rotate(45deg);
  }
  
  .hamburger-checkbox:checked ~ .hamburger::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}