<!doctype html>
<html lang="{{ global.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title ~ ' – ' ~ global.title if title else global.title }}</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    {% include 'snippets/meta.njk' %}
    <!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://tomso.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/tomso.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
  </head>
  <body>
  
    <header class="site-header">
      <h1 class="site-name">
        <a href="{{ '/' | url }}">{{ global.title }}</a>
      </h1>
      <nav class="site-nav">
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
      </nav>
    </header>

    <main class="site-main">
      {{ content | safe }}
    </main>

    {% if global.footer %}
      <footer class="site-footer">
        <p>{{ global.footer | markdownifyInline | safe }}</p>
      </footer>
    {% endif %}

  </body>
</html>
