---
layout: base
permalink: "/"
---

<div class="home-intro">
<img src="/media/new-rivers.jpeg" alt="A satirical digital collage depicting a scene of an army returning from battle, with flags of various NFT marketplaces flying high in the sky and army tanks adorned with various crypto project logos such as Ethereum, Bitcoin and Cardano." /></a>
</div>
