---
layout: base
permalink: "/"
---

<div class="home-intro">
<a href="https://tom.so/projects/this-building-does-not-exist"><img src="/media/building.gif" alt="GIF animation of AI generated buildings morphing into one another." /></a>
</div>
