---
layout: base
permalink: "/"
---

<div class="home-intro">
Teacher and designer from Hokkaido, Japan. Currently based in Tāmaki Makaurau, Aotearoa.
<img src="/media/phonebw.jpg" width="100%" title="A black and white halftoned image of a hand holding a slab that resembles a phone in form." />

</div>
