---
layout: base
pagination:
  data: collections.posts
  size: 10
  alias: postslist
permalink: "posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="searchlieu">
  <div class="form-group">
      <form id="searchForm">
        <input class="form-input" id="searchInput" name="blogPosts" placeholder="Search for posts" type="text">
      </form>
    <ul id="resultsList"></ul>
  </div>
</div>
     
   <script>
      const blogPosts = [
           {
        title: "2023 highlights",
        description: "Before I forget, I wanted to reflect on a few key moments from 2023.",
        url: "https://tom.so/posts/2023-highlights/"
            },
           {
        title: "Elmet Brae - The Land",
        description: "Some of us from Merveilles, a loose collective that I’ve been part of for a while now, recently released a compilation of noise/drone/ambient music inspired by the idea of “the land”.",
        url: "https://tom.so/posts/elmet-brae/"
            },
            {
        title: "Something for November",
        description: "The past few months have been great. Things have been moving at a slower pace, allowing me to be more reflective about my actions. ",
        url: "https://tom.so/posts/something-for-november/"
            },
            {
        title: "Wee tour of Pōneke",
        description: "Myself and a few others who are new to our company were given a tour of some significant sites around Wellington/Pōneke recently.",
        url: "https://tom.so/posts/wee-tour-of-p%C5%8Dneke/"
            },
            {
        title: "Future content improvements",
        description: "Since I first created this website, I have tried to be more aware of the issues around web accessibility (a11y).",
        url: "https://tom.so/posts/future-content-improvements/"
            },
            {
        title: "A new chapter",
        description: "Several months ago now, I taught my last class and resigned from teaching after having done it for the past three years.",
        url: "https://tom.so/posts/a-new-chapter/"
            },
            {
        title: "On generative art",
        description: "As an art teacher, I have seen firsthand the incredible impact that artificial intelligence (AI) has had on the world of art making. ",
        url: "https://tom.so/posts/on-ai-in-art/"
            },
            {
        title: "On isolation",
        description: "Spending this week in isolation due to being classified as a household contact.",
        url: "https://tom.so/posts/isolation/"
            },
            {
        title: "A long year + some ideas for the future",
        description: "It’s been a long year. While it has not been an easy one, there have been some fantastic things in 2021 that I am grateful for. I have met some wonderful new friends, colleagues, and students, and have enjoyed many laughs with them all.",
        url: "https://tom.so/posts/a-long-year/"
            },
            {
        title: "See you later 2021",
        description: "This is just going to be a short post so I don’t overthink it. I would like to follow up another time though and go over the highlights of this year.",
        url: "https://tom.so/posts/goodbye-2021/"
            },
            {
              title: "Mid-year update",
              description: "Been many months since I had time and space in my mind to be able to write anything.",
              url: "https://tom.so/posts/mid-year-update/"
            },
            {
              title: "Touching up on design",
              description: "Recently I have been working more on my own design work. While I have always had a basic understanding of using design tools such as Inkscape, Figma etc, I have never really had the time to push myself to learn more until now.",
              url: "https://tom.so/posts/design-work/"
            },
            {
              title: "Murimai Beach",
              description: "Image of Murimai Beach.",
              url: "https://tom.so/posts/muriwai/"
            },
            {
              title: "Another Lockdown",
              description: "Yesterday evening the government announced a new lockdown for those living in Auckland. We will be in Level 3 for at least the next seven days, during which time I will be teaching remotely yet again.",
              url: "https://tom.so/posts/new-lockdown/"
            }
       ];

       const fuse = new Fuse(blogPosts, {
           keys: ['title', 'description', 'url'],
           threshold: 0.3,
           location: 0,
           distance: 100,
           caseSensitive: false
       });

       document.getElementById('searchForm').addEventListener('submit', function(event) {
           event.preventDefault();
           const query = document.getElementById('searchInput').value;
           const results = fuse.search(query);
           const resultsList = document.getElementById('resultsList');
           resultsList.innerHTML = '';
           for (const result of results) {
            const listItem = document.createElement('li');
            const link = document.createElement('a');
            link.href = result.item.url;
            link.innerHTML = `<strong>${result.item.title}</strong><br>${result.item.description}<br><br>`;
            listItem.appendChild(link);
            resultsList.appendChild(listItem);
            }
       });
   </script>

<div class="posts">
  {% for post in postslist %}
    <article class="post">
      <header class="post-header">
        <h2 class="post-title">
          <a href="{{ post.url }}">{{ post.data.title | safe }}</a>
        </h2>
        <time class="post-date" datetime="{{ post.date | dateToFormat('yyyy-LL-dd') }}">{{ post.date | dateToFormat('d LLL y') }}</time>
      </header>
      {% if post.data.page.excerpt %}
        {{ post.data.page.excerpt | markdownify | safe }}
        <p><a href="{{ post.url }}" aria-label="Continue reading “{{ post.data.title }}”">Read more…</a></p>
      {% else %}
        {{ post.templateContent | safe }}
      {% endif %}
    </article>
  {% endfor %}
</div>

{% if pagination.pages and pagination.pages.length > 1 %}
  <nav class="pagination" aria-labelledby="pagination">
    <ol class="pagination-item pagination-list">
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} aria-label="Page {{ loop.index }}">{{ loop.index }}</a>
        </li>
      {%- endfor %}
    </ol>
  {% if pagination.page.next %}
    <p class="pagination-item">
      <a href="{{ pagination.href.next }}" aria-label="Next page">Next</a>
    </p>
  {% endif %}
  {% if pagination.page.previous %}
    <p class="pagination-item">
      <a href="{{ pagination.href.previous }}" aria-label="Previous page">Previous</a>
    </p>
  {% endif %}
  </nav>
{% endif %}
